body {
    margin: 0;
    padding: 0;
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: 'Roboto';
}
.logo {
    width: 100px;
    height: auto;
}

nav {
    padding: 0;
    margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #526340;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #64784e  ;
}
li a:hover {
  background-color: #64784e;
}

li a img {
 padding: 0;
 margin: 0;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}

.log-in {
    font-size: 1.2em;
    padding: 10px 20px;
    color: white;
    background-color: #526340;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 10em;
    color: white;
    opacity: 0.6;
}


form {
    display: inline;
}

input {
    padding: 6.5px;
}