body {
    margin: 0;
    padding: 0;
    background-image: image('background.png');
}

nav {
    padding: 0;
    margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #526340;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #64784e  ;
}
li a:hover {
  background-color: #64784e;
}
/* Add a gray right border to all list items */
li {
;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}