<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:hover {
  background-color: #111;
}
/* Add a gray right border to all list items */
li {
  border-right: 1px solid #bbb;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#Home">Home</a></li>
  <li><a href="#Book a space">Book a space</a></li>
  <li style="float:right"><a class="active" href="#Sign-up">Sign-up</a></li>
  <li style="float:right"><a class="active" href="#Log-in">Log-in</a></li>
</ul>

</body>
</html>
